---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/globals.css";
const allPosts = await Astro.glob("./posts/*.md");
---

<BaseLayout pageTitle="Blogs">
  <div class="posts">
    {
      allPosts.map((post) => (
        <BlogPost
          url={post.url!}
          title={post.frontmatter.title}
          pubDate={post.frontmatter.pubDate}
        />
      ))
    }
  </div>
</BaseLayout>

<style>
  .posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
</style>
