---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Tutorial</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <h1>Blog</h1>
    <h2>Post 1</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque eos velit
      animi, dolorem aliquam eius necessitatibus, quod a mollitia magnam, ipsum
      tempora? Fugiat corrupti, sequi nostrum adipisci cupiditate consequuntur
      modi?
    </p>
  </body>
</html>
